<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <h3>Create New Post</h3>
       <form method="post" action="/posts">
         <input placeholder="enter usernmae" name="username"/>
         <textarea placeholder="enter content" name="content"></textarea>
         <button type="submit">Submit</button>
       </form>
</body>
</html>